#parse("/templates/layout.vm") 
#@mainLayout()

<div style="overflow-x:auto;">

<form action="/calendar" id="calendarForm" method="post">

    <table class="egt">

        <caption>Detalles de Eventos</caption>

        <thead>

            <tr>
                <th scope="col">Descripción</th>
                <th>Fecha</th>
                <th>ID_ubicación</th>
                <th>Repeticion</th>
                <th>ID de Sugerencia</th>
                <th>Generar sugerencia</th>
            </tr>

        </thead>
        <tbody>

            #foreach($evento in $eventos)
            <tr>
                <th>$!evento.getDescripcion()</th>
                <th>$!evento.getFecha()</th>
                <th>$!evento.getUbicacion()</th>
                <th>$!evento.getRepeticion()</th>
                <th>
                    <#if ($evento.getSugerencia())
                        <input type="submit" name="sugerencia" value="$!evento.getSugerencia().getId()">
                    #end #if (!$evento.getSugerencia())
                        <input type="submit" name="sugerencia" value="ID: NULL">
                    #end
                </th>
                <th>
                    <input type="submit" name="sugerencia" value="Solicitar Nueva Sugerencia">
                </th>

            </tr>
            #end
        </tbody>

    </table>
    
</form>

</div>

#end