#foreach( $dayCounter in [1..5] )
<td style="width:12%;border: thin black solid;border-collapse: collapse;margin: auto;text-align:center;">
    <div style="height: 10%;float:right;width:12%; color: #0033CC; background-color:lightblue;font-size: larger;border: thin black solid;">$dayCounter</div>
    <div style="width: 100%;text-align: left;">
        <ul>
        </ul>
    </div>
</td>
#end