#parse("/templates/layout.vm")
#@mainLayout()

<h1>Listado De Detalles de $evento</h1>
 
<div class="row row-3">
    #foreach($detalle in $detalles)
            <ul>
                <li>
                    $detalle 
                </li>
            </ul>
    #end
    </div>

<p> Do you want to <a href="/">go back to home menu</a> ?</p>
#end
