<!DOCTYPE html>
	<html>
		<head>
			<title>DDS UTNFRBA</title>
			<style>
                body {
                  background-color: black;
                  text-align: center;
                  color: white;
                  font-family: Arial, Helvetica, sans-serif;
                }
			</style>
		</head>
		
		<body>
			<h1>Bienvenidos a la app de QueMePongo!</h1>
			<h3>TP de la materia DDS de la UTN FRBA</h3>
			<blockquote> <p>"If anything can go wrong, it will go wrong."</p> <blockquote>
			<img src="https://i.imgur.com/kHPC7Tk.jpg" alt="Alf" style="width:200px">
		</body>
		
	</html>