<!DOCTYPE html>
<html>

<head>
    <title>DDS UTNFRBA</title>
    <style>
        body {
            background-color: white;
            text-align: center;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Bienvenidos a la app de QueMePongo!</h1>
    <h3>TP de la materia DDS de la UTN FRBA</h3>
    <blockquote>
        <p>"If anything can go wrong, it will go wrong."</p>
        <blockquote>
            <img src="https://i.imgur.com/kHPC7Tk.jpg" alt="Alf" style="width:200px">

            <p> Do you want to <a href="/login">Login</a> ?</p>
            <p> Do you want to <a href="/register">Register</a> ?</p>
            <p> Do you want to <a href="/guardarropas">see the Wardrobes</a> ?</p>
            <p> Do you want to <a href="/new-prenda">create New Prenda</a> ?</p>
            <p> Do you want to <a href="/new-event">create New Event</a> ?</p>
            <p> Do you want a (totalmente hardcodeada) <a href="/sugerencia">Sugerencia</a> ?</p>
</body>

</html>