#parse("/templates/layout.vm")
#@mainLayout()

<html>
    <style>
        body {
            background-color: white;
            text-align: center;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

    <title>QueMePongo - Inicio</title>

    <h1>Bienvenidos a QueMePongo!</h1>
    <p>
        <blockquote>
            "Si algo puede salir mal, saldra mal."
        </blockquote>
    </p>
            <img src="https://i.imgur.com/kHPC7Tk.jpg" alt="Alf" style="width:200px">
            
            <br> <br> <hr>
			
			<h2> Que desea hacer?</h2>
            <p> <a href="/guardarropas">Ver sus guardarropas</a></p>
            <p> <a href="/new-prenda">Crear una nueva prenda</a></p>
            <p> <a href="/new-event">Crear un nuevo evento</a></p>
            <p> <a href="/calendar">Ver sus eventos</a></p>
</html>

#end