#parse("/templates/layout.vm")
#@mainLayout()

<html>
    <style>
        body {
            background-color: white;
            text-align: center;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

    <h1>Welcome to QueMePongo!</h1>
    <blockquote>
        <p>"If anything can go wrong, it will go wrong."</p>
    </blockquote>
            <img src="https://i.imgur.com/kHPC7Tk.jpg" alt="Alf" style="width:200px">
            
            <br> <br> <hr>
			
			<h2> What do you want to do?</h2>
            <p> <a href="/guardarropas">See your Wardrobes</a></p>
            <p> <a href="/new-prenda">Create a New Prenda</a></p>
            <p> <a href="/new-event">Create a New Event</a></p>
</html>

#end