<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='/images/chomba-azul.jpg' alt='A photo of a mountain.' style="width:200px" /></li>
      <li><img src='/images/levis.jpg' alt='A photo of a a rocky beach.' style="width:200px"/></li>
    </ul>
  </body>
</html>