<!-- 
    Material algodon=new Material("Algodon");
    Set <Material> tiposDeMaterialRemera;
    Color colorBlanco=new Color("Blanco", 255,255,0);
    Trama lisa= new Trama("Lisa");
    TipoDePrenda remera = new  TipoDePrenda("Remera",Categoria.PARTE_SUPERIOR, tiposDeMaterialRemera,PrendaNivel.Nivel1);
    Prenda unaRemeraBlancaLisa = new Prenda("Remera Blanca lisa", remera, algodon, colorBlanco, lisa );
-->
#parse("/templates/layout.vm")
#@mainLayout()

<h1>Agregar Nueva Prenda</h1>

<div>
    <div>
        <form action="/new-prenda" method="post" >
            <p>Nombre de prenda:&nbsp;
                <input maxlength="100" name="nombre" type="text" value="" id="name" />
                <label for="when"></label>
            </p>
            <p>
                <select name="tipoDePrenda" id="tipo">
                    <option value="-1">-Seleccionar Tipo De Prenda-</option>
                    #foreach( $tipoDePrenda in $tipoDePrendas )
                    <option value="$tipoDePrenda">$tipoDePrenda</option>
                    #end</select>
            </p>
            <select name="material" id="material">
                <option value="-1">-Seleccionar Material-</option>
                #foreach( $material in $materiales)
                	<option value="$material">$material</option>
                #end
            </select>
            <p>Color:&nbsp; &nbsp;&nbsp;
                <input maxlength="5" name="colorHEX" type="color" value="#ff0000" id="colorHEX" />
            </p>
            <p>
                <select name="trama" id="trama">
                    <option value="-1">-Seleccionar Trama-</option>
                    #foreach( $trama in $tramas )
                    	<option value="$trama">$trama</option>
                    #end
                </select>
            </p>
            <p>
                <select name="guardarropas" id="guardarropa">
                    <option value="-1">-Seleccionar el guardarropas donde se guardara-</option>
                    #foreach( $guardarropa in $guardarropas )
                    	<option value="$guardarropa">$guardarropa</option>
                    #end
                </select>
            </p>
            Selecciona una imagen para su prenda:
            <p>
                <input type="file" name="myImage" accept="image/x-png,image/jpeg" />
                <br>
                <br>
            </p>
            <button onclick="mostrar(document.getElementById('name').value,
                document.getElementById('tipo').value,
                document.getElementById('colorHEX').value,
                document.getElementById('trama').value,
                document.getElementById('guardarropa').value)">
                Crear Prenda
            </button>
        </form>  

            <script>
              function mostrar(name,tipo,colorHEX,trama,guardarropa) {
                var mensaje = "Se agregó al guardarropas " + guardarropa +
                "\nla prenda "+name+" de tipo " +tipo + 
                "\ncon trama " + trama + " y con el color "+colorHEX;
                alert(mensaje);
              }
            </script> 
        
    </div>
</div>
#end