#parse("/templates/layout.vm")
#@mainLayout()

<html>

<head>
    <meta charset="UTF-8">
    <title>QueMePongo - Registrate</title>
    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <link rel="stylesheet" media="screen" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <div class="login-card">
        <h1>Register</h1>
        <br>
        <form action="/register" id="loginForm" method="post">
            #if($registrationFailed)
                <p class="bad notification">You already register.</p>          
            #end
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="text" name="user" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="pass" placeholder="Password" required>
            <input type="submit" name="register" class="register register-submit" value="Register">
        </form>
        <div class="register-help"> </div>
    </div>

    <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</html>

#end