<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Register</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    
    <link rel="stylesheet" media="screen" type="text/css" href="/stylesheets/style.css">

</head>

<body>

  <div class="login-card">
    <h1>Register</h1><br>
  <form>
    <input type="text" name="user" placeholder="Username">
	<input type="text" name="mail" placeholder="Email">
    <input type="password" name="pass" placeholder="Password">
    <input type="submit" name="register" class="login login-submit" value="register">
  </form>

  <div class="login-help">
  </div>
</div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</html>