#parse("/templates/layout.vm")
#@mainLayout()

<html>


<head>
    <title>QueMePongo - Evento creado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #myDIV {
            width: 100%;
            padding: 1px 0;
            text-align: center;
            background-color: lightblue;
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <h1>El evento fue creado correctamente!</h1>
    <h2>Que te parece la siguiente sugerencia?</h2>
    <div class="Sugerencia">
        <p>
            #foreach($prenda in $sugerencia)
            <ul>
                <li>
                    $prenda.getTipo().getNombre() $prenda.getTrama().getNombre() de $prenda.getMaterial().getNombre()
                </li>
            </ul>
            #end
        </p>
    </div>

    <button onclick="myFunction()" style="height: 50px; width: 50px ; color:blue;font-size:30px;"> &#128077; </button>

    <a href="/sugerencia" type="buttom" style="height: 50px; width: 50px ; color:blue; font-size:30px;"> &#128078; </a>

    <form action="/sugerencia" id="SugerenciaForm" method="post">
        <div id="myDIV" style="display: none">
            <h2> Que tan feliz está con la sugerencia obtenida?</h2>
            Considere poner -2 si la prenda sugerida (o la falta de misma) le produce mucho frio, 0 si se adapta perfectamente usted y 2 si la misma le produce mucho calor.
              <p>
                    Percepcion Cabeza: <input type="number" name="percepcionCabeza" value="0" min="-2" max="2"><br>
                </p><p>
                    Percepcion Cuello: <input type="number" name="percepcionCuello" value="0" min="-2" max="2"><br>
                </p><p>
                    Percepcion Torso: <input type="number" name="percepcionTorso" value="0" min="-2" max="2"><br>
                </p><p>
                    Percepcion Manos: <input type="number" name="percepcionManos" value="0" min="-2" max="2"><br>
                </p><p>
                    Percepcion Piernas: <input type="number" name="percepcionPiernas" value="0" min="-2" max="2"><br>
                </p><p>
                    Percepcion Calzado: <input type="number" name="percepcionCalzado" value="0" min="-2" max="2"><br>
                </p>
                <input type="submit" value="Modificar percepcion del usuario">                
        </div>         
        
    </form>

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
                #set( $sugerenciaAceptada = "FALSE" )
            } else {
                x.style.display = "block";
                #set( $sugerenciaAceptada = $sugerencia )
            }
        }
    </script>

</body>

</html>
#end